#search-options
  %h3 Search by Location
  %form{:action => "/divesites", :method => "get"}
    %input{:name => "location", :placeholder => "Location", :type => "text"}
      %input{:type => "submit"}
- if @lat && @lng
  #site-div
    %div{:style => "width: 800px;"}
      #map{:style => "width: 800px; height: 400px;"}
    %h2
      Dive sites near #{@location}
    - @dive_sites.each do |divesite|
      %h3
        %a{:href => "/divesites/#{divesite.id}"}= divesite.site_name
      / %h4 Distance from location:
      / %p
      /   = site['distance']
      /   nautical miles
      %h4 Coordinates:
      %p
        Latitude: #{divesite.lat}
      %p
        Longitude: #{divesite.lng}
