<div class= "container-fluid" id="welcome">
    <div class="jumbotron text-center">
      <%= image_tag ('logoinverse'), id: 'jumbo-logo' %>
      <h1> Welcome to Dive Directory</h1>
      <div id="enter-location">
        <p>Enter a location in the search box to begin</p>
      </div>
    </div>
</div><!--close conatainer-fluid-->
