
<div class= "container-fluid">
  <% if @location %>
    <%= render partial:"site_list" %>
  <% else %>
    <div class="jumbotron text-center">
      <%= image_tag ('logoinverse'), id: 'jumbo-logo' %>
      <h1> Welcome to Dive Directory</h1>
      <p>Enter a location in the search box to begin</p>
    </div>
  <% end %>

</div><!--close conatainer-fluid-->
