#container
  - if @lat && @lng
    %div{:style => "width: 800px;"}
      #map{:style => "width: 800px; height: 400px;"}
    #site-div.text-center
      %h2
        Dive sites near
      %h3   
        #{@location}
      - @divesites.each do |divesite|
        %h3
          %a{:href => "/divesites/#{divesite.id}"}= divesite.site_name
        / %h4 Distance from location:
        / %p
        /   = site['distance']
        /   nautical miles
        %h4 Coordinates:
        %p
          Latitude: #{divesite.lat}
        %p
          Longitude: #{divesite.lng}
