
<a id="return-stuff" href="/divesites">Find Sites near me</a>

<h3>Search by Location</h3>
<form action="/divesites" method="get">
  <input type="text" name='lat' placeholder='Latitude'>
  <input type="text" name='long' placeholder='Longitude'>
  <input type='submit'>
</form>
